AL.Events.DAL/Connected Services/AdvertisingService/AdvertisingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51525/AdvertisingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AL.Events.WCF.Entities" />
  <xs:element name="GetRandomAds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomAdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AL.Events.WCF.Entities" minOccurs="0" name="GetRandomAdsResult" nillable="true" type="q1:ArrayOfAd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>